
MIREA_DZ/.vs/MIREA_DZ/FileContentIndex/826614d9-8ba3-4932-9766-d56d7e0eb216.vsidx
MIREA_DZ/.vs/MIREA_DZ/v17/Browse.VC.db
MIREA_DZ/.vs/MIREA_DZ/v17/Browse.VC.db-shm
MIREA_DZ/.vs/MIREA_DZ/v17/Browse.VC.db-wal
MIREA_DZ/.vs/MIREA_DZ/v17/Browse.VC.opendb
MIREA_DZ/.vs/ProjectSettings.json
MIREA_DZ/.vs/slnx.sqlite
